*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-size: large;
    
 }

body{
background-color: hsla(88, 25%, 59%, 0.678);
    height: 5000px;
}

header{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
}

.navbar{
    border: 2px solid #a8b195b9;
    height: 3rem;
    width: 80rem;
    border-radius: 10px;
    background-color: #a8b195b9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link{
    width: 5rem;
    height: 2rem;
    margin: 10px;
    background-color: rgba(99, 139, 33, 0.658);
    border-radius: 10px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 0px
}

.card{
    border: 1px solid #6cb13ea6;
    width: 300px;
    height: 350px;
    background-color: #6cb13ea6;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

table{
    background-color: rgba(193, 231, 105, 0.596);
    font-size: large;
    width: 50rem;
    height: 10rem;
}

.abc{
    display: flex;
    justify-content: center;
    margin: 50px;
}